.tab-pane .tab-label {
    -fx-font-family: "Minion Pro Display";
    -fx-font-size: 16px;
    -fx-text-fill: white;




}

.tab-header-background {
    -fx-background-color: #0F0F0F;
}

.tab {
    -fx-padding: 10 50 10 50;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.profile-image {
-fx-background-radius: 50%;
-fx-border-radius: 50%;
-fx-border-width: 1px;
-fx-border-color: black;

}